
//base layout 

%baseLayout-container
{
	position: relative;
	box-sizing: border-box;
	overflow:hidden;
	
}

%baseLayout
{
	box-sizing:inherit;
	width:100%;
	height:100%;
	position:relative;
}

%baseLayout_header
{
    position:absolute;
    top:0;
    right:0;
    width:100%;
    z-index:2;
    
}

%baseLayout_body
{
	height:100%;
	width:100%;

}

%layout40-60
{
	
	@extend %baseLayout;
}
%layout40-60_column1
{
	float:left;
	
	
	width:40%;
	height:100%;
}

%layout40-60_column2
{
	
	float:left;
	width:60%;
	
	height:100%;
}

// helpers

%clearListStyle 
{
	list-style-type:none;	
	margin:0;
	padding:0;
}

.inline-block
{
	display:inline-block;
}

.l-inline
{
	display:inline;
}

.left
{
	float:left;
}

.right
{
	float:right;
}

.l-stacked > span
{
	display:block;
}
.l-clear-list-style
{
	list-style-type:none;	
}

.l-inset
{
	@include clearfix;
	width:100%;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
}

.is-hidden
{
	display:none;
}





