//layout

.content-preview
{
	@include box-shadow (-3px 0px 3px 0px rgba(0,0,0,0.17));
	z-index:3;
	@extend %baseLayout;
	background:$bg-slight-grey;
	

	&-container 
	{
		@extend %baseLayout-container;
	}

	&_header
	{
		
		@extend %header--secondary;
		
		
	}

	&_body 
	{
		@extend %baseLayout_body;
		@include padding-crown($padding-default);
	

		padding-top:$preview-header-height;
		
		overflow-y:auto;
	}
	
}

//Header module 
.content-preview_header
{

	&_body 
	{
		@extend %header--secondary_body;
	
		
	}
	
	&_action {
		@extend %header--secondary_action;
	}

	&_title
	{
		@extend %header--secondary_title;
		

	}
	&_subtitle
	{
		@extend %header--secondary_subtitle;

	}
	&_utility-bar
	{
		@extend %header--secondary_utility-bar;
	}
	&_footer
	{
		@extend %header--secondary_footer;
	}
	&_cta
	{
		@extend %header--secondary_cta;
	}

}



.content-preview_body p 
{
	font-size:14px;

}