// Layout

.present
{
	@extend %baseLayout;
	&-container 
	{
		@extend %baseLayout-container;
		background:$bg-med-grey;
		padding:10px;
	}
	&_header
	{
		@extend %baseLayout_header;
		

	}
	&_body 
	{
		@extend %baseLayout_body;
		padding-top:52px;
	}
	
}

// Header Module

.present_header
{
	@extend %header--primary;
	padding:10px;
	height:52px;

	&_body 
	{
		@extend %header--primary_body;
	}
	
	&_action {
		@extend %header--primary_action;
	}
	&_title
	{
		@extend %header--primary_title;
	}
	&_subtitle
	{
		@extend %header--primary_subtitle;
	}
	&_utility-bar
	{
		@extend %header--primary_utility-bar;
	}
	&_footer 
	{
		@extend %header--primary_footer;
	}
}


