// Layout

.present
{
	@extend %baseLayout;
	&-container 
	{
		@extend %baseLayout-container;
		background:$bgcolor-primary;
		padding:10px;
	}
	&_header
	{
		@extend %baseLayout_header;
		//hs
		@include transition(all 0.3s ease-in 0s);


	}
	&_body 
	{
		@extend %baseLayout_body;
		padding-top:52px;
		padding-bottom:270px;
		//hs 
		@include transition(all 0.3s ease-in 0s);
	}
	
}

// Header Module

.present_header
{
	@extend %header--primary;
	background:transparent;
	padding:10px;
	height:52px;
	z-index:400;

	&_body 
	{
		@extend %header--primary_body;

	}
	
	&_action {
		@extend %header--primary_action;
	}
	&_title
	{
		@extend %header--primary_title;
		text-align:center;
	}
	&_subtitle
	{
		@extend %header--primary_subtitle;
	}
	&_utility-bar
	{
		@extend %header--primary_utility-bar;
	}
	&_footer 
	{
		@extend %header--primary_footer;
	}
}

.controlbar
{
	z-index:2;
	position:absolute;
	bottom:20px;
	left:50%;
	transform: translate(-50%, 0);
	
}

.present-footer
{
	position:absolute;
	bottom:0;
	right:0;
	height:270px;
	width:100%;
}



// hs presentation experiement 

%hitspot-base
{
	position:absolute;
	cursor:pointer;
	height:100%;
}

.instruction-hitspots
{
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:100%;
	
	
	.hitspot-left 
	{
		
		@extend %hitspot-base;
		left:0;
		width:25%;

		

	}
	.hitspot-middle 
	{
		@extend %hitspot-base;
		left:25%;
		width:50%;
		
		
	}
	.hitspot-right
	{
		@extend %hitspot-base;
		right:0;
		width:25%;
		
		
	}

}





.hitspot_body 
{
	position:relative;
	z-index:200;
	height:100%;
	width:90%;
	margin:
	{
		left:auto;
		right:auto;
	}


}

.hs-next
{
	opacity:0;
	position:absolute;
	color:$color-highlight;
	height:200px;
	top:50%;
	transform: translate(0, -50%);
	@include transition(all 0.3s ease-in 0.2s);
	
	
}

.hitspot-right .hs-next
{
	right:-300px;
	@include transition(all 0.3s ease-in 0.2s);
}

.hitspot-left .hs-next
{
	left:-300px;
}

.hitspot-right.is-hovered
{
	// background-color:rgba(10, 200, 244, 0.1);

	 @include linear-gradient(to right, rgba(10, 200, 244, 0), rgba(10, 200, 244, 0.2) 85%);
	
	.hs-next
	{
		opacity:1;
		right:0px;
	
	}
}

.hitspot-left.is-hovered
{
	// background-color:rgba(10, 200, 244, 0.1);

	@include linear-gradient(to left, rgba(10, 200, 244, 0), rgba(10, 200, 244, 0.2) 85%);
	
	.hs-next
	{
		opacity:1;
		left:0px;
	
	}
}






.hitspot 
{
	&-instructions 
	{
		display:none;
		position:absolute;
		background-color:$color-highlight;
		padding:20px;
		width:70%;
		height:100px;
		left:50%;
		top:50%;
		transform: translate(-50%, -50%);
		color:#fff;
		text-align:center;
		h2
		{
			margin:0;
			padding:5px;
		}
		p
		{
			margin:0;
			padding:0;
		}
	}
}


.instruction-hitspots.is-active
{
	.hitspot_body
	{
		background-color:rgba(10, 200, 244, 0.2);
		.hitspot-instructions
		{
			display:block;

		}
	}
}

.hs-header
{
	top:-52px;

}
.hs-body
{
	padding-top:0;
	padding-bottom:0;
}
.hs-helpbar
{
	z-index:400;
	position:absolute;
	bottom:20px;
	right:20px;
}
.hs-controlbar
{
	z-index:400;
	
}




