/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/** Base **/
body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none; }

header {
  position: relative; }

/** End Base **/
/** Minor layout styles/Utility Classes **/
.inline-block {
  display: inline-block; }

.l-inline {
  display: inline; }

.l-stacked > div {
  display: block; }

.l-clear-list-style {
  list-style-type: none; }

.span-columns-1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .span-columns-1:last-child {
    margin-right: 0; }

.span-columns-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .span-columns-2:last-child {
    margin-right: 0; }

.span-columns-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .span-columns-3:last-child {
    margin-right: 0; }

.span-columns-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .span-columns-4:last-child {
    margin-right: 0; }

.span-columns-5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .span-columns-5:last-child {
    margin-right: 0; }

.span-columns-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .span-columns-6:last-child {
    margin-right: 0; }

.span-columns-7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  .span-columns-7:last-child {
    margin-right: 0; }

.span-columns-8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .span-columns-8:last-child {
    margin-right: 0; }

.span-columns-9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .span-columns-9:last-child {
    margin-right: 0; }

.span-columns-10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .span-columns-10:last-child {
    margin-right: 0; }

.span-columns-11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%; }
  .span-columns-11:last-child {
    margin-right: 0; }

.span-columns-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .span-columns-12:last-child {
    margin-right: 0; }

/** End minor layout styles **/
/** Buttons **/
.btn, .btn--primary {
  display: inline-block;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: #a4b0ba; }

.btn--size-default {
  min-width: 100px;
  height: 32px;
  line-height: 32px; }

.btn--icon {
  min-width: 32px;
  height: 32px;
  line-height: 32px; }

.btn--primary {
  border-radius: 2px;
  background: #199bfd;
  color: #fff; }

/** End Buttons **/
/** Layout list**/
.l-header--course {
  height: 150px;
  width: 100%;
  background: #435561; }

.l-content-container {
  background: #f2f2f2; }

.list {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .list:after {
    content: "";
    display: table;
    clear: both; }

.list li:first-child {
  border-top: 1px solid #d9dde1; }

.list__row {
  display: block;
  height: 64px;
  border-bottom: 1px solid #d9dde1;
  padding: 10px; }
  .list__row:after {
    content: "";
    display: table;
    clear: both; }

.list__row.is-hovered {
  background: #fff; }

.list__checkbox {
  display: inline-block;
  width: 40px;
  margin-left: auto;
  margin-right: auto; }

.list__checkbox input {
  display: block;
  line-height: 64px;
  vertical-align: middle; }

/** Course **/
/** toolbar module **/
.toolbar, .toolbar--section {
  height: 52px;
  padding: 10px; }

.toolbar--section {
  background: #f9f9f9; }

.toolbar__management-options {
  float: left; }

.toolbar__utility-options {
  float: right; }

/** Navigation **/
.nav {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

.nav--horizontal li {
  display: inline-block; }

.nav--main {
  height: 48px;
  position: absolute;
  bottom: 0px; }

.nav--main a {
  text-transform: uppercase; }

/** Content Module **/
.content__title {
  font-size: 14px;
  font-weight: 600;
  color: #323b47; }

.content__status {
  font-size: 12px;
  color: #a5b1bb;
  font-weight: 400; }

.content__activity-date {
  font-size: 12px;
  color: #a5b1bb;
  font-weight: 400;
  white-space: nowrap;
  text-align: right; }

/*# sourceMappingURL=app.css.map */
