/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

h1, h2, h3, h4, h5 {
  color: #323b47;
  margin: 0;
  padding: 0;
  font-weight: 400; }

p {
  margin: 0px;
  padding: 5px 0; }

.tbd {
  color: #fd194f; }

.sg--header {
  background: #199bfd;
  height: 150px; }
  .sg--header:after {
    content: "";
    display: table;
    clear: both; }

.sg--header h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600; }

.sg--content {
  background: #f9f9f9;
  padding-bottom: 100px;
  padding-top: 40px;
  border-left: 1px solid #f2f2f2;
  font-size: 16px; }

.sg--l-constrained {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto; }

.clear-list-style {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.sg--section h2 {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 36px;
  font-weight: 600;
  border-bottom: 4px solid #199bfd;
  color: #199bfd;
  margin-bottom: 10px; }
.sg--section h3 {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 24px;
  font-weight: 600; }
.sg--section h4, .sg--section h5 {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 600; }
.sg--section h5 {
  color: #708493; }
.sg--section pre {
  background: #313b47;
  color: #a6de27;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  overflow-x: hidden; }
.sg--section code {
  background: #313b47;
  color: #a6de27;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap; }
.sg--section .dh-header {
  display: block;
  border-radius: 3px;
  padding: 5px;
  background: #2bb727;
  color: #fff;
  text-align: center; }
  .sg--section .dh-header:after {
    content: "Do"; }
.sg--section .dth-header {
  display: block;
  border-radius: 3px;
  padding: 5px;
  background: #ed1e79;
  color: #fff;
  text-align: center; }
  .sg--section .dth-header:after {
    content: "Don't"; }
.sg--section .dh {
  color: #2bb727;
  font-weight: 600; }
.sg--section .dth {
  color: #ed1e79;
  font-weight: 600; }

.sg--callout {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #d9dde1;
  border-radius: 5px;
  background: #fff;
  display: table; }
  .sg--callout h4 {
    color: #0ac8f4; }

.sg--callout_header {
  display: table-cell;
  padding: 10px;
  width: 20px;
  height: 100%;
  background: #0ac8f4;
  color: #fff;
  font-size: 24px;
  vertical-align: middle; }

.sg--callout_header > i {
  vertical-align: middle; }

.sg--callout_body {
  padding: 10px;
  display: table-cell;
  width: 100%;
  vertical-align: middle; }

.sg--example {
  position: relative;
  padding: 20px;
  padding-top: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid #d9dde1;
  border-radius: 5px; }

.sg--example:after {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 14px;
  color: #959595;
  text-transform: uppercase;
  font-weight: 600;
  content: "Example"; }

.sg--example-container {
  width: 80%; }

.sg--navi-tree {
  padding-left: 10px;
  list-style-type: none; }
  .sg--navi-tree li > ul {
    padding-left: 20px;
    list-style-type: none; }

.l-app-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .l-app-container:after {
    content: "";
    display: table;
    clear: both; }

.l-sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .l-sidebar:last-child {
    margin-right: 0; }

.l-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .l-content:last-child {
    margin-right: 0; }

/*# sourceMappingURL=style.css.map */
