/* -----------------------------------*/
/* ---->>> Buttons  -------------------*/
/* -----------------------------------*/

/* --------->>> Button: Basic ---------*/



.btn-grp
{
	height:52px;
	padding:10px;

}

/* --->>> Modifiers ---*/
/* -- modifiers use sibling specifity --*/

.btn-grp .btn:last-child
{
	margin-right:0px;
}


.btn
{
	display:inline-block;
	height:32px;
	padding-left:10px;
	padding-right:10px;
	margin-left:10px;
	margin-right:10px;

	text-align:center;
	line-height:32px;
	font-size:14px;
	color:$text-light-grey;

	&:hover
	{
		color:$text-med-grey;
		@include transition(all 0.5s ease-in-out);
	}


}

.btn--default
{
	@extend .btn;
	text-transform:uppercase;
	min-width:100px;

	&.primary 
	{
		color:$primary-blue;
	}

}



.btn--icon
{
	margin:0px;
	font-size:24px;
}
.btn--raised
{
	background:$bg-light-grey;
	color:$text-med-grey;
	min-width:120px;
	border-radius:2px;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(164,176,186,1);
-moz-box-shadow: 0px 1px 0px 0px rgba(164,176,186,1);
box-shadow: 0px 1px 0px 0px rgba(164,176,186,1);
	&.primary
	{
		
		width:120px;
		
		border-radius:2px;
		background:$primary-blue;
		color:#fff;
		-webkit-box-shadow: 0px 1px 0px 0px rgba(31,128,201,1);
	-moz-box-shadow: 0px 1px 0px 0px rgba(31,128,201,1);
	box-shadow: 0px 1px 0px 0px rgba(31,128,201,1);
		&:hover
		{
			color:#fff;
		}

	}

}

.btn--secondary
{
	

	
	
}


a.btn--primary:link, a.btn--primary:visited, a.btn--primary:hover, a.btn--primary:active
{
	color:#fff; 
}







.btn.on-light:hover
{
	color:$bg-header;
}


/** End Buttons **/
