/* -----------------------------------*/
/* ---->>> Buttons  -------------------*/
/* -----------------------------------*/

/* --------->>> Button: Basic ---------*/





/* --->>> Modifiers ---*/
/* -- modifiers use sibling specifity --*/



.btn
{
	display:inline-block;
	height:32px;
	padding-left:10px;
	padding-right:10px;
	margin-left:10px;
	margin-right:10px;

	text-align:center;
	line-height:32px;
	font-size:14px;
	color:$text-smed-grey;
	&.is-first
	{
		margin-left:0;
	}

	&.is-last
	{
		margin-right:0;
	}

	&:hover, .is-hovered
	{
		color:$text-med-grey;
		@include transition(all 0.5s ease-in-out);
	}


}

.btn--utility
{
	color:$text-light-grey;


	&:hover.danger 
	{
		color:$text-danger;
	}

	&.is-disabled
	{
		color:$text-disabled;
	}
}

.btn--default
{
	
	text-transform:uppercase;
	

	&.primary 
	{
		color:$primary-blue;
	}

	&.danger 
	{
		color:$text-danger;
	}

	&.is-disabled
	{
		color:$text-disabled;
	}

}

.btn--icon-text
{
	color:$text-light-grey;

	> i
	{
	line-height:32px;
	font-size:24px;
	float:left;
	padding-right:10px;
	}
	
	&.primary
	{
		color:$primary-blue;

	}
	
}


.btn--icon-utility
{
	margin:0px;
	font-size:24px;
	color:$text-light-grey;

	&:hover.danger 
	{
		color:$text-danger;
	}

	&.is-first
	{
		padding-left:0;
	}
	&.is-last
	{
		padding-right:0;
	}
}
.btn--raised
{
	background:$bg-light-grey;
	color:$text-smed-grey;
	min-width:120px;
	border-radius:2px;
	-webkit-box-shadow: 0px 3px 0px 0px rgba(164,176,186,1);
-moz-box-shadow: 0px 3px 0px 0px rgba(164,176,186,1);
box-shadow: 0px 3px 0px 0px rgba(164,176,186,1);
	&.primary
	{
		
		
		
		
		background:$primary-blue;
		color:#fff;
		-webkit-box-shadow: 0px 3px 0px 0px rgba(31,128,201,1);
	-moz-box-shadow: 0px 3px 0px 0px rgba(31,128,201,1);
	box-shadow: 0px 3px 0px 0px rgba(31,128,201,1);
		&:hover
		{
			color:#fff;
			background:$primary-blue-lighten1;
		}

	}
	&.danger
	{
		background:$bg-danger;
		color:#fff;
	}
	&.is-disabled
	{
		color:$text-disabled;
	}
	&.is-active
	{
		background:$highlight;
		color:#fff;
		box-shadow:none;
	}

}



a.btn--primary:link, a.btn--primary:visited, a.btn--primary:hover, a.btn--primary:active
{
	color:#fff; 
}










/** End Buttons **/
