.menu
{
  list-style-type:none;
}

.menu  > li > a
{
  display:block;
  height:52px;
  line-height:32px;
  padding:10px;
  text-align:left;
  color:$text-smed-grey;
}



.menu--with-icons > li > a
{
    > i
    {
    line-height:32px;
    font-size:24px;
    float:left;
    padding-right:10px;
    }
    
    &.primary
    {
      color:$primary-blue;

    }
}





.dropdown-content {
  @extend .z-depth-1 !optional;
  margin:0;
  padding:10px;
 
  
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 140px;
  max-height: 650px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  border-radius:2px;

  white-space: nowrap; // Force one line
  z-index: 1;
  will-change: width, height;

  li {
    clear: both;
    
    cursor: pointer;
   
    width: 100%;
    
    text-transform: none;

    &:hover, &.active {
      
    }

    & > a, & > span {
      // font-size: 14px;
      // color:$text-smed-grey;
      // display: block;
      // height:52px;
      // text-align:left;
      // padding: 10px;
    }
  }
}

