/* --------->>> Layout: List -----------*/

.list
{
	
	list-style-type:none;
	padding:0;
	margin:0;
	
}


/* --->>> List Modifiers ---*/
/* -- modifiers use sibling specifity --*/

// List modifiers
.list
{
	&.is-cozy
	{
		> li > .list_item
		{
			height:80px;
		}
	}
	

}


.list-sub
{ 

	> li > .list_item 
	{
		
		padding-left:40px;
	}
}

.list-row
{
	
}

.list > li:first-child
{
	// border-top:1px solid #d9dde1;
}

/* --->>> List item ---*/

.list_item
 {
 	position:relative;
	display:table;
	height:64px;
	border-bottom:1px solid #d9dde1;
	padding:10px;
	width:100%;

	
	

	&.is-hovered
	{
		@include transition (all 0.2s ease-in-out);
		background:$bg-light-grey;
		cursor: pointer;
		
	}

	&.is-active
	{
		@include transition (all 0.2s ease-in-out);
		background:#fff;
		cursor: pointer;
		border-left:3px solid $highlight;
	}


}

.list_item--folder
{
	> .list_item_column-icon > i
	{
		color:$text-med-grey;
	}
}

/* --->>> List item column---*/

.list_item_column
{
	> div
	{
		vertical-align:middle;
	}
	display:table-cell;
	
	vertical-align:middle;
}

.list-item_column-expandable
{
	width:40px;
}

.list_item_column-checkbox 
{
	width:40px;
	> input
	{
		display:block;
		margin-left:auto;
		margin-right:auto;
		
		width:20px;
	}
}

.list_item_column-icon
{
	width:40px;
	> i 
	{
		color:$text-light-grey;

		font-size:24px;
	}
}



.list_item-title
{
	font-size:14px;
	font-weight:600;
	color:$text-med-grey;
}
.list_item-sub-title
{
	font-size:12px;
	color:$text-smed-grey;
	font-weight:400;

}


.list_item-activity-info
{
	position:absolute;
	top:5px;
	right:10px;
	font-size:12px;
	color:$light-grey;
	font-weight:400;
	white-space: nowrap;
	text-align:right;

}





.list_column
{

}
