/** Base **/

body
{
	font-family:$primary-font;
	margin:0px;
	padding:0px;
}
a 
{
	text-decoration:none;
}

header 
{
	position:relative;
}
/** End Base **/

/** Minor layout styles/Utility Classes **/

.inline-block
{
	display:inline-block;
}

.l-inline
{
	display:inline;
}

.l-stacked > div
{
	display:block;
}
.l-clear-list-style
{
	list-style-type:none;	
}







.span-columns-1
{
	@include span-columns(1);
}
.span-columns-2
{
	@include span-columns(2);
}

.span-columns-3
{
	@include span-columns(3);
}
.span-columns-4
{
	@include span-columns(4);
}
.span-columns-5
{
	@include span-columns(5);
}
.span-columns-6
{
	@include span-columns(6);
}
.span-columns-7
{
	@include span-columns(7);
}
.span-columns-8
{
	@include span-columns(8);
}
.span-columns-9
{
	@include span-columns(9);
}
.span-columns-10
{
	@include span-columns(10);
}
.span-columns-11
{
	@include span-columns(11);
}
.span-columns-12
{
	@include span-columns(12);
}

/** End minor layout styles **/

/** Buttons **/


.btn
{
	display:inline-block;
	font-size:14px;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	color:$text-color--vh-2;

}

.btn--size-default
{
	min-width:100px;
	height:32px;
	line-height:32px;
}

.btn--icon
{
	min-width:32px;
	height:32px;
	line-height:32px;
}



.btn--primary
{
	@extend .btn;
	border-radius:2px;
	background:$primary-blue;
	color:#fff;

}
.btn--dark
{
	
	
}

/** End Buttons **/


/** Layout list**/
.l-header
{

}
.l-header--course
{
	height:150px;
	width:100%;
	background:$bg-header;
}


.l-content-container
{
	background:$bg-med-grey;
}

.list
{
	@include outer-container(100%);
	list-style-type:none;
	padding:0;
	margin:0;
}

.list li:first-child
{
	border-top:1px solid #d9dde1;
}


.list__row {
	@include row(block);
	height:64px;
	border-bottom:1px solid #d9dde1;
	padding:10px;


}

.list__row.is-hovered
{
	background:#fff;
}
.list__checkbox
{
	display:inline-block;
	width:40px;
	
	
	margin-left:auto;
	margin-right:auto;
}

.list__checkbox input
{
	display:block;
	line-height:64px;
	vertical-align:middle;
}


.list__column
{

}


/** Course **/

.course__name
{

}



/** toolbar module **/
.toolbar
{
	height:52px;
	
	padding:10px;

}

.toolbar--section
{
	@extend .toolbar;
	background:#f9f9f9;
}

.toolbar__management-options
{
	float:left;	
	
}

.toolbar__utility-options
{
	float:right;
}


/** Navigation **/
.nav
{
	list-style-type:none;
	margin:0px;
	padding:0px;
}

.nav--horizontal li
{
	display:inline-block;
}

.nav--main
{
	height:48px;
	position:absolute;
	bottom:0px;
	
}

.nav--main a
{
	text-transform:uppercase;
}


/** Content Module **/
.content
{

}
.content__title
{
	font-size:14px;
	font-weight:600;
	color:$primary-grey;
}
.content__status
{
	font-size:12px;
	color:$light-grey;
	font-weight:400;
}

.content__activity-date
{
	font-size:12px;
	color:$light-grey;
	font-weight:400;
	white-space: nowrap;
	text-align:right;

}

.content__subview
{

}