
.toolbar
{
	
	padding:$padding-default;
	height:52px;
	background:#f9f9f9;
	border-bottom:1px solid #d9dde1;
	&.is-active 
	{
		
		background:#fff;
	}

}

.searchbar
{
	@extend .z-depth-1;
	padding:$padding-default;
	
	background:#f9f9f9;
	border-bottom:1px solid #d9dde1;

}



.toolbar_actions-primary
{

}

.toolbar_actions-utility
{
	float:right;
}


.badge 
{
	background:$highlight;
	border-radius:50%;
	height:32px;
	width:32px;
	line-height:32px;
	text-align:center;
	font-size:14px;
	color:#fff;
	display:inline-block;
	margin-right:10px;

}


















