//Color

$primary-grey: #323b47;
$primary-font: 'Source Sans Pro', sans-serif;
$light-grey:#a5b1bb;
$primary-blue:#199bfd;

//background

$bg-med-grey:#f2f2f2;
$bg-header:#435561;


$text-color-dark--vh-1:#435561;
$text-color--vh-1:#ffffff;
$text-color--vh-2:#a4b0ba;