//Color

$primary-grey: #323b47;
$primary-font: 'Source Sans Pro', sans-serif;
$light-grey:#a5b1bb;
$primary-blue:#199bfd;
$primary-blue-lighten1:#42b5fc;

//background
// change colours to lighten-1, lighten-2
$text-dark-grey:#313b47;
$text-med-grey:#435561;
$text-smed-grey:#708493;
$text-light-grey:#a4b0ba;


$text-disabled:#d9dde1;
$text-danger:#fd194f;

$bg-dark-grey:#313b47;
$bg-med-grey:#435561;
$bg-light-grey:#f2f2f2;
$bg-slight-grey:#f9f9f9;

$bg-danger:#fd194f;



$text-color-dark--vh-1:#435561;
$text-color--vh-1:#ffffff;
$text-color--vh-2:#a4b0ba;
$highlight:#0ac8f4;

// add some default padding stuff

$padding-default:10px;


//move these to another file


