//Color


$fontFace: 'Source Sans Pro', sans-serif;





//text-Grey tones
$color-base-darken1:#313b47;
$color-base:#435561;
$color-base-lighten1:#708493;
$color-base-lighten2:#a4b0ba;


//State colors
$color-primary:#199bfd;
$color-disabled:#d9dde1;
$color-danger:#fd194f;
$color-highlight:#0ac8f4; //active
$color-primary-lighten1:#42b5fc; //hover

//background colors

//Header bg
$bgcolor-primary-darken1:#313b47;
$bgcolor-primary:#435561;


//main bg
$bgcolor-base-darken2:#c9d0d5;
$bgcolor-base-darken1:#f0f0f0;
$bgcolor-base:#f2f2f2;
$bgcolor-base-lighten1:#f9f9f9;












// add some default padding stuff

$padding-default:10px;

//Buttons

$btn-height:32px;

//headers

$header--primary-height:120px;
$preview-header-height:190px;


