@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";


h1,h2,h3,h4 
{

	color:$primary-grey;
}

.sg--header
{
	@include clearfix;
	background:$primary-blue;
	height:150px;
}

.sg--header h2
{
	color:#ffffff;
	font-size:24px;
	font-weight:600;
}

.sg--content
{
	background:#fff;
}
.clear-list-style 
{
	list-style-type:none;
	padding:0;
	margin:0;

}

.sg--section
{
	border-top:1px solid #ccc;
}

.sg--example-container
{
	width:80%;
}

.sg--navi-tree
{
	padding-left:10px;
	list-style-type:none;

	li > ul
	{
		padding-left:20px;
		list-style-type:none;

	}
}



.l-app-container
{
	@include outer-container(100%);

}

.l-sidebar
{
	@include span-columns(2);
}

.l-content
{
	@include span-columns(10)
}





