@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";


h1,h2,h3,h4,h5 
{

	color:$color-base-darken1;
	margin:0;
	padding:0;
	font-weight:400;
}

p 
{
	margin:0px;
	padding:5px 0;
}

.tbd
{
	color:$color-danger;
}

.sg--header
{
	@include clearfix;
	background:$color-primary;
	height:150px;
	// position:fixed;
	// top:0;
	// right:0;

}

.sg--header h2
{
	color:#ffffff;
	font-size:24px;
	font-weight:600;

}

.sg--sideBar
{

}

.sg--content
{
	background:$bgcolor-base-lighten1;
	padding-bottom:100px;
	
	padding-top:40px;
	border-left:1px solid $bgcolor-base;
	font-size:16px;
	
}

.sg--l-constrained
{
	max-width:770px;
	margin-left:auto;
	margin-right:auto;
}

.clear-list-style 
{
	list-style-type:none;
	padding:0;
	margin:0;

}



.sg--section 
{
	h2
	{
		padding-bottom:10px;
		padding-top:10px;
		font-size:36px;
		font-weight:600;
		border-bottom:4px solid $color-primary;
		color:$color-primary;
		margin-bottom:10px;
		
	}
	h3
	{
		padding-bottom:10px;
		padding-top:10px;
		font-size:24px;
		font-weight:600;
		
	}
	h4, h5
	{
		padding-bottom:10px;
		padding-top:10px;
		font-size:18px;
		font-weight:600;
	}
	h5
	{
		color:$color-base-lighten1;
	}
	pre
	{
		background:$bgcolor-primary-darken1;
		color:#a6de27;
		padding:5px;
		border-radius:3px;
		font-size:12px;
		overflow-x: hidden;
		
	} 

	code 
	{
		background:$bgcolor-primary-darken1;
		color:#a6de27;
		padding:5px;
		border-radius:3px;
		font-size:12px;
		white-space: nowrap;
	}
	.dh-header
	{
		display:block;
		border-radius:3px;
		padding:5px;
		background:#2bb727;
		color:#fff;
		text-align:center;
		&:after
		{
			content: "Do";
		}
	}
	.dth-header
	{
		display:block;
		border-radius:3px;
		padding:5px;
		background:#ed1e79;
		color:#fff;
		text-align:center;
		&:after
		{
			content: "Don't";
		}
	}

	.dh
	{
		color:#2bb727;
		font-weight:600;
	}
	.dth
	{
		color:#ed1e79;
		font-weight:600;
	}
}



.sg--callout
{
	
	margin-top:20px;
	margin-bottom:20px;
	border:1px solid #d9dde1;
	border-radius:5px;
	background:#fff;
	display:table;
	h4
	{
		color:$color-highlight; 
	}

}

.sg--callout_header
{
	display:table-cell;
	padding:10px;
	width:20px;
	height:100%;
	background:$color-highlight;
	color:#fff;
	font-size:24px;
	vertical-align: middle;
}

.sg--callout_header > i 
{
	vertical-align:middle;
}

.sg--callout_body
{
	padding:10px;
	display:table-cell;
	width:100%;
	vertical-align:middle;

}

.sg--example
{
	@include clearfix;
	display:table;
	width:100%;
	position:relative;
	padding:20px;
	padding-top:60px;
	margin-top:20px;
	margin-bottom:20px;
	background:#ffffff;
	border:1px solid #d9dde1;
	border-radius:5px;
	

}

.sg--example:after
{
	position: absolute;
	  top: 15px;
	  left: 15px;
	  font-size: 14px;
	  color: #959595;
	  text-transform: uppercase;
	  font-weight:600;
	  content: "Example";
}


.sg--example-container
{
	width:80%;
}

.sg--navi-tree
{
	padding-left:10px;
	list-style-type:none;

	li > ul
	{
		padding-left:20px;
		list-style-type:none;

	}
}



.l-app-container
{
	@include outer-container(100%);

}

.l-sidebar
{
	@include span-columns(2);
}

.l-content
{
	@include span-columns(10)
}





