@import "bourbon/bourbon";

@import "variables";
@import "mixins";
@import "icon";
@import "base";



//layouts

@import "layouts/base";


//modules
@import "modules/navigations";
@import "modules/buttons";
@import "modules/lists";
@import "modules/grids";
@import "modules/cards";
@import "modules/modals";
@import "modules/forms";
@import "modules/bars";
@import "modules/q-answer";
@import "modules/discussion";

@import "modules/headers";


//Views (for devs)
@import "views/lobby";
@import "views/courses";
@import "views/course";
@import "views/students";
@import "views/present";
@import "views/content";
@import "views/content-preview";

//materilize
@charset "UTF-8";
@import "modules/dropdown";

@import "ryan";

body 
{
	font-size:18px;
	color:$color-base;
}

h1,h2,h3,h4,h5 
{

	
	margin-top:1.414em;
	margin-bottom:0.5em;
	line-height:1.2em;
	padding:0;
	font-weight:400;
	color:$color-base;
	&:first-child
	{
		margin-top:0;
	}
}

p 
{
	font-size:1em;
	color:$color-base;
	line-height:1.4em;
	padding:0;
	margin-top:0;
	margin-bottom:1.3em;
	&:last-child
	{
		margin-bottom:0;
	}

	&.introduction
	{
		font-size:1.25em;
		color:$color-base-lighten1;
	}

}

h2 
{
	font-size:3.157em;
	font-weight:600;
}

h3
{

	font-size:2.369em;
	font-size:1.953em;
	font-weight:600;
	
	
}
h4
{

	font-size:1.777em;
	font-size:1.563em; // prefect 3rd
	font-weight:600;
	
}
h5
{
	font-size:1.333em;
	font-size:1.25em;
	font-weight:600;

}

.sg--list 
{
	list-style-type:none;
	> li 
	{
		border-left:3px solid $color-highlight;
		padding-left:20px;
		line-height:1.6em;
	}
	
}


.snippet-code
{
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	color:$color-highlight;
	padding:5px;
	border-radius:3px;
	margin-left:5px;
	margin-right:5px;
	font-size:14px;
	background:lighten($color-highlight,43%);
}


.sg 
{
	@extend %baseLayout-container;
}

.sg--sidebar 
{
	@extend %baseLayout;
	
	width:250px;
	position:fixed;
	float:left;
	z-index:1;



}

.sg--sidebar_header
{
	
	@extend %baseLayout_header;
	background:#fff;
	height:180px;
	padding:10px;
	border-bottom:1px solid $color-disabled;




}

.sg--logo
{
	display:block;
	width:150px;
	margin-left:auto;
	margin-right:auto;
}



.sg--sidebar_body
{
	padding-top:200px;
	padding-left:10px;
	@extend %baseLayout_body;
	overflow-y:auto;
	font-size:16px;
	color:$color-base;
	a 
	{
		color:$color-base-lighten1;
	}
	h2
	{

		color:$color-base;
		font-size:18px;
		font-weight:600;

	}
}

.sg--main 
{
	@extend %baseLayout_body;
	float:left;
	width:100%;
	padding-left:250px;
	overflow-y:auto;
	position:relative;
	


}

.sg--main_container 
{
	border-left:1px solid $color-disabled;
	
	padding-bottom:30px;
	background:$bgcolor-base-lighten1;

}


.sg--divider
{
	@include clear;
	width:100%;
	height:10px;
	margin-top:10px;
	border-top:1px solid $color-disabled;

}

.clear-list-style 
{
	list-style-type:none;
	padding:0;
	margin:0;

}



.sg--section_body
{
	margin-top:2em;
	margin-bottom:2em;

	pre
	{

		
		position:relative;
		display:block;
		width:100%;
		
		margin-bottom:0;
		padding:5px;
		padding-top:32px;
		
		font-size:12px;
		overflow-x: hidden;
		border-top:1px solid $color-base-lighten3;
		background:$bgcolor-base-lighten1
		;
		&:before
		{
			
			content: "Code";
			position:absolute;
			top:0;
			right:0;
			background:#fff;
			width:80px;
			border-left:1px solid $color-base-lighten3;
			border-bottom:1px solid $color-base-lighten3;
			padding:5px;
			text-align:center;
			font-size:12px;
			color:$color-base-lighten2;

		}
		
	} 

	code 
	{
		
		padding:5px;
		border-radius:3px;
		
		
	}
	.dh-header
	{
		display:block;
		border-radius:3px;
		padding:5px;
		background:#2bb727;
		color:#fff;
		text-align:center;
		&:after
		{
			content: "Do";
		}
	}
	.dth-header
	{
		display:block;
		border-radius:3px;
		padding:5px;
		background:#ed1e79;
		color:#fff;
		text-align:center;
		&:after
		{
			content: "Don't";
		}
	}


}

.sg--section_header
{
	width:100%;
	height:300px;
	background:$color-primary;
	position:relative;

	> h2 
	{
		position:absolute;
		top:50%;
		width:100%;
		
		text-align:center;
		color:#fff;
		font-size:1.25em;
		font-weight:400;
		
		

	}
}

.sg--section_body
{
	padding-top:20px;
	max-width:770px;
	margin-left:auto;
	margin-right:auto;
}



.sg--callout
{
	display:table;
	margin-top:20px;
	margin-bottom:20px;
	border:1px solid #d9dde1;
	border-radius:5px;
	background:#fff;
	
}

.sg--callout_body
{
	display:table-cell;
	padding:1em;
	width:100%;
	vertical-align:middle;
	font-size:16px;

	> p 
	{
		font-size:1em;

	}
	> h5
	{
		color:$color-alternate; 
		padding-bottom:0;

	}

}


.sg--callout_header
{
	display:table-cell;
	padding:10px;
	width:20px;
	height:100%;
	background:$color-alternate;
	color:#fff;
	font-size:24px;
	vertical-align: middle;
}





.sg--example-container
{
	
	display:table;
	width:100%;
	position:relative;
	
	padding-top:60px;
	margin-top:20px;
	margin-bottom:20px;
	background:#ffffff;
	border:1px solid #d9dde1;
	border-radius:5px;
	font-size:16px;

}


.sg--example-container:after
{
	position: absolute;
	  top: 15px;
	  left: 15px;
	  font-size: 14px;
	  color: $color-base-lighten1;
	  text-transform: uppercase;
	  font-weight:600;
	  content: "Example";
}

.sg--example
{
	@include clear;
	padding:20px;
	width:100%;
}


.sg--main-navi
{
	
	list-style-type:none;
	padding:0;
	margin:0;

	> li  > a
	{
		height:32px;
		line-height:32px;
		display:block;
		padding-left:10px;
		padding-right:10px;
	}


}

.sg--main-navi_sub
{
	@extend .sg--main-navi;
	padding-left:20px;
}







