
%baseButton
{
    float:left;
    height:$btn-height;
    padding:
    {
    	left:10px;
    	right:10px;
    } 
    margin-right:10px;
    text-align:center;
    line-height:$btn-height;
    font-size:14px;
    color:$color-base;
    &.is-first 
    {
    	margin-left:0;
    	padding-left:0;
    
    }

    &.is-last 
	{
		margin-right:0;
		padding-right:0;
	
	}
	&:hover.danger 
	{
		color:$color-danger;
	}
	&.primary 
	{
		color:$color-primary;
	}

	&.is-disabled
	{
		color:$color-disabled;
	}
}


%baseButton-with-icon 
{
	&.with-icon
	{
		> i
			{

			float:left;
			padding-right:10px;
			}

	}
	&.with-icon-right
	{
		> i
			{

			float:right;
			padding-left:10px;
			}

	}
}




.btn--plain
{
	@extend %baseButton;
	@extend %baseButton-with-icon;
}

.btn--withbg
{
	@extend %baseButton;
	@extend %baseButton-with-icon;
	background:$bgcolor-base-darken2;
	border-radius:3px;
	&.is-first
	{
		padding-left:10px;
	}
	&.is-last
	{
		padding-right:10px;
	}
	


}

.btn--utility
{
	@extend %baseButton;
	@extend %baseButton-with-icon;
	color:$color-base-lighten2;

}

.btn--default
{
	@extend %baseButton;
	text-transform:uppercase;

}




.btn--icon-utility
{
	
	@extend %baseButton;
	margin:0px;
	
	color:$color-base-lighten2;


	&.is-first
	{
		padding-left:0;
	}
	&.is-last
	{
		padding-right:0;
	}
	&.is-only
	{
		padding-left:0;
		padding-right:0;
	}
	&.is-active
	{
		color:$color-highlight;
	}
}

.btn--round
{
	
	@extend .z-depth-2;
	background:#ffffff;
	border-radius:50%;
	height:52px;
	width:52px;
	margin-right:20px;
	font-size:24px;
	line-height:52px;
	color:$color-base-lighten2;
	z-index:5;
	> i 
	{
		float:none;
	}
	&.is-last 
	{
		margin-right:0;
	}
	&.large
	{
		height:72px;
		width:72px;
	}

	&.primary
	{
		background:$color-primary;
		color:#fff;
	}
	

	&:hover
	{
		// background:$color-highlight;
		color:$color-highlight;
		@extend .z-depth-1-half;
		@include transition(all 0.3s ease-in 0s);
	}


	&:hover.primary
	{
		background:$color-highlight;
		color:#fff;
	}




	&.is-active
	{
		background:$color-highlight;
		color:#fff;
		@extend .z-depth-1;
	}
	&.is-active:hover
	{
		background:$color-highlight;
		color:#fff;
		@extend .z-depth-1;
	}
	&:hover.is-danger 
	{
		color:$color-danger;
	}
}


.btn--raised
{
	@extend %baseButton-with-icon;
	@include transition(all 0.3s ease-in 0s);
	float:left;
	background:$bgcolor-base-darken2;
	color:$color-base;
	min-width:100px;
	text-align:center;
	margin-right:10px;
	padding-right:10px;
	padding-left:10px;
	border-radius:3px;
	height:32px;
	line-height:32px;
	font-size:14px;

	&.with-icon-right 
	{
		min-width:120px;
	}
	@include box-shadow(0px 3px 0px 0px rgba(darken($bgcolor-base-darken2,10%),1));
	
	&.primary
	{

		background:$color-primary;
		color:#fff;
		@include box-shadow(0px 3px 0px 0px rgba(darken($color-primary,10%),1));
	
		&:hover
		{
			color:#fff;
			background:$color-primary-lighten1;

		}

	}
	&.secondary
	{

		background:$color-secondary;
		color:#fff;
		@include box-shadow(0px 3px 0px 0px rgba(darken($color-secondary,10%),1));
		&:hover
		{
			color:#fff;
			background:lighten($color-secondary,5%);
		}

	}
	&.alternate
	{

		background:$color-alternate;
		color:#fff;
		@include box-shadow(0px 3px 0px 0px rgba(darken($color-alternate,10%),1));
		&:hover
		{
			color:#fff;
			background:lighten($color-alternate,5%);
		}

	}
	&.dark
	{

		background:$color-base-lighten1;
		color:#fff;
		@include box-shadow(0px 3px 0px 0px rgba(darken($color-base-lighten1,10%),1));
		&:hover
		{
			color:#fff;
			background:lighten($color-base-lighten1,5%);
		}

	}


	&:hover
	{
		background:lighten($bgcolor-base-darken2,5%);
	}
	&.danger:hover
	{
		background:$color-danger;
		color:#fff;
		@include box-shadow(0px 3px 0px 0px rgba(194,25,79,1));
	}
	&.is-disabled
	{
		background:lighten($bgcolor-base-darken2, 10%);
		color:lighten($color-base, 40%);
		box-shadow:none;
	}
	&.is-active
	{
		background:$color-highlight;
		color:#fff;
		box-shadow:none;
	}
	&.is-last
	{
		margin-right:0;
	}

}

.btn-grp
{
	&:first-child
	{

	}
	&:last-child
	{
		margin-right:0;
	}
}


.btn-icon-grp
{
	&:first-child
	{
		
	}
}








/** End Buttons **/
