
%baseButton
{
	@include transition(all 0.3s ease-in 0s);
	float:left;
	height:$btn-height;
	padding:
	{
		left:10px;
		right:10px;
	} 
	margin-right:10px;
	text-align:center;
	line-height:$btn-height;
	font-size:14px;
	color:$color-primary;
	&:first-child 
	{
		margin-left:0;
		padding-left:0;

	}

    	&:last-child
	{
		margin-right:0;
		padding-right:0;
	
	}
	&:last-of-type
	{
		margin-right:0;
		padding-right:0;
	}
	&.primary 
	{
		color:$color-primary;
		font-weight:700;
	}
	&:hover, &.is-hovered
	{
		color:$color-highlight;
	}

	&:hover.danger 
	{
		color:$color-danger;
	}


	&.is-disabled
	{
		color:$color-disabled;
	}
	> i
	{
		float:left;
		padding-right:5px;
		&.btn_icon-right
		{
			float:right;
			padding-left:5px;
		}
	}
	> .btn_badge
	{
		
		display:inline-block;
		min-width:24px;
		height:24px;
		background:$color-base-lighten1;
		border-radius:50%;
		line-height:24px;
		margin-left:5px;
		color:#fff;
	}
}

%baseButtonModifiers
{

}

%baseButton-with-icon 
{
	&.with-icon
	{


	}
	&.with-icon-right
	{
		> i
			{

			float:right;
			padding-left:10px;
			}

	}
}




.btn-flat
{
	@extend %baseButton;
	@extend %baseButton-with-icon;
}



.btn-utility
{
	@extend %baseButton;
	@extend %baseButton-with-icon;
	color:$color-base-lighten2;
}

.btn-dialog
{
	@extend %baseButton;
	text-transform:uppercase;

}


.btn-utility-icon
{
	
	@extend %baseButton;
	margin:0; //override basebutton spacing **bad**
	
	color:$color-base-lighten2;
	> i 
	{
		padding-left:0;
		padding-right:0;
	}
}

.btn-round
{
	@include transition(all 0.3s ease-in 0s);
	@extend .z-depth-2;
	background:#ffffff;
	border-radius:50%;
	height:72px;
	width:72px;
	margin-right:20px;
	font-size:24px;
	line-height:52px;
	color:$color-base-lighten2;
	z-index:5;
	> i 
	{
		float:none;
	}
	&.is-last 
	{
		margin-right:0;
	}

	&.primary
	{
		background:$color-primary;
		color:#fff;
	}
	

	&:hover, &.is-hovered 
	{
		// background:$color-highlight;
		color:$color-highlight;
		@extend .z-depth-1-half;
		@include transition(all 0.3s ease-in 0s);
	}


	&:hover.primary
	{
		background:$color-highlight;
		color:#fff;
		@include transition(all 0.3s ease-in 0s);
	}

	&:active, &.is-active
	{
		background:$color-highlight;
		color:#fff;
		@extend .z-depth-1;
	}
	&.is-disabled
	{
		color:$color-disabled;
		@extend .z-depth-1-half;
	}
	&.is-active:hover
	{
		background:$color-highlight;
		color:#fff;
		@extend .z-depth-1;
	}
	&:hover.danger 
	{
		color:#fff;
		background-color:$color-danger;
		@include transition(all 0.3s ease-in 0s);
	}
}


.btn-raised
{
	@extend %baseButton-with-icon;
	@include transition(all 0.2s ease-in 0s);
	float:left;
	background:$bgcolor-base-darken2;
	color:$color-base;
	min-width:100px;
	text-align:center;
	margin-right:10px;
	padding-right:10px;
	padding-left:10px;
	border-radius:3px;
	height:32px;
	line-height:32px;
	font-size:14px;

	@include button-raised($bgcolor-base-darken2,$color-base);

	&.primary
	{
		@include button-raised($color-primary,#fff);

	}
	&.secondary
	{
		@include button-raised($color-secondary,#fff);

	}
	&.alternate
	{
		@include button-raised($color-alternate,#fff);
	}
	&.dark
	{
		@include button-raised($color-base-lighten1,#fff);

	}
	&.danger:hover
	{
		@include button-raised($color-danger,#fff);
	}
	&.is-disabled
	{

		background:lighten($bgcolor-base-darken2, 10%);
		color:lighten($color-base, 40%);
		box-shadow:none;
	}
	&:active, &.is-active
	{
		@include button-raised($color-highlight,#fff);
	}

	&:last-child
	{
		margin-right:0;
	}

	> .btn_badge
	{
		display:inline-block;
		float:right;
		min-width:18px;
		height:18px;
		border-radius:50%;
		line-height:18px;
		margin-left:5px;
		margin-top:6px;
		background:#fff;
		color:$color-base;
	}

}



.btn-grp
{
	button ~ ul:last-child 
	{

	}
}










/** End Buttons **/
