/* -----------------------------------*/
/* ---->>> Buttons  -------------------*/
/* -----------------------------------*/

/* --------->>> Button: Basic ---------*/





/* --->>> Modifiers ---*/
/* -- modifiers use sibling specifity --*/


// @mixin buttonModifiers($button-color:$text-smed-grey)
// {
// 	color:$button-color;

	
// 	&:hover, &.is-hovered
// 	{
// 		color: adjust-color($button-color, $lightness: 35%);
// 		@include transition(all 0.5s ease-in-out);
// 	}

// }



%button-base
{
    
   
    display:inline-block;
    height:$btn-height;
    padding:
    {
    	left:10px;
    	right:10px;
    }
    
    
    margin-right:10px;

    text-align:center;
    line-height:$btn-height;
    font-size:14px;
    color:$text-smed-grey;

    &.last 
	{
		margin-right:0;
	}
}

.btn--plain
{
	@extend %button-base;
	&:hover.danger
	{
		color:$text-danger;
	}
}

.btn--utility
{
	@extend %button-base;
	color:$text-light-grey;


	&:hover.danger 
	{
		color:$text-danger;
	}

	&.is-disabled
	{
		color:$text-disabled;
	}
}

.btn--default
{
	@extend %button-base;
	text-transform:uppercase;
	

	&.primary 
	{
		color:$primary-blue;
	}

	&.danger 
	{
		color:$text-danger;
	}

	&.is-disabled
	{
		color:$text-disabled;
	}

}

.btn--icon-text
{
	@extend %button-base;
	color:$text-light-grey;

	> i
	{
	line-height:32px;
	font-size:24px;
	float:left;
	padding-right:10px;
	}
	
	&.primary
	{
		color:$primary-blue;

	}
	
}


.btn--icon-utility
{
	@extend %button-base;
	margin:0px;
	font-size:24px;
	color:$text-light-grey;

	&:hover.danger 
	{
		color:$text-danger;
	}

	&.is-first
	{
		padding-left:0;
	}
	&.is-last
	{
		padding-right:0;
	}
}

.btn--round
{
	@extend %button-base;
	@extend .z-depth-2;
	background:#ffffff;
	border-radius:50%;
	height:52px;
	width:52px;

	font-size:24px;
	line-height:52px;
	color:$text-light-grey;
	z-index:5;
	&.large
	{
		height:72px;
		width:72px;
	}

	&.primary
	{
		background:$primary-blue;
		color:#fff;
	}
	

	&:hover
	{
		// background:$highlight;
		color:$highlight;
		@extend .z-depth-1-half;
		@include transition(all 0.3s ease-in 0s);
	}
	&:hover.primary
	{
		background:$highlight;
		color:#fff;
	}



	&:hover.danger
	{
		color:$text-danger;
	}

	&.is-active
	{
		background:$highlight;
		color:#fff;
		@extend .z-depth-1;
	}
	&.is-active:hover
	{
		background:$highlight;
		color:#fff;
		@extend .z-depth-1;
	}
}


.btn--raised
{
	@extend %button-base;
	background:$bg-light-grey;
	color:$text-smed-grey;
	min-width:100px;
	border-radius:2px;
	@include box-shadow(0px 3px 0px 0px rgba(164,176,186,1));
	
	&.primary
	{
		
		
		
		
		background:$primary-blue;
		color:#fff;
		@include box-shadow(0px 3px 0px 0px rgba(31,128,201,1));
	
		&:hover
		{
			color:#fff;
			background:$primary-blue-lighten1;

		}

	}
	&.danger
	{
		background:$bg-danger;
		color:#fff;
	}
	&.is-disabled
	{
		color:$text-disabled;
	}
	&.is-active
	{
		background:$highlight;
		color:#fff;
		box-shadow:none;
	}

}



a.btn--primary:link, a.btn--primary:visited, a.btn--primary:hover, a.btn--primary:active
{
	color:#fff; 
}










/** End Buttons **/
