.card
{
	
	background:#fff;
	border-radius:5px;
	display:block;
	position:relative;
	border:1px solid #d9dde1;
	padding-bottom:52px;
	width:100%;
	@include box-shadow (0px 2px 0px 0px rgba(217,221,225,1));
	&.highlight
	{
		background: lighten($color-highlight, 47%);
		border:1px solid $color-highlight;
		
	
		@include box-shadow (0px 2px 0px 0px rgba(10,200,244,1));
	}

	&.highlight2
	{
		
		border-left:4px solid $color-highlight;
		padding-bottom:52px;
		width:100%;
		@extend .z-depth-1-half;
		
	}

}

.card--fixed
{
	@extend .card;
	width:250px;
	height:250px;
}





.card_item_body
{
	
	padding:$padding-default;
	color:$color-base-lighten1;
}

.card_item_title
{
	@extend %title;
	font-size:18px;
	line-height:32px;
	font-weight:600;
	color:$color-base;
}

.card_item_sub-title
{
	
	font-size:14px;
	font-weight:400;
	color:$color-base-lighten1;
}

.card_item_footer
{
	position:absolute;
	width:100%;
	bottom:0;
	border-top:1px solid #d9dde1;
	height:52px;
	padding:10px;
}

.card--thumb
{
	@extend .z-depth-1;
	background:#fff;
	border-radius:5px;
	display:block;
	position:relative;
	padding-bottom:52px;
	
	
	width:160px;
	height:160px;

	&.is-active
	{
		overflow:hidden;
		background:#fff;
		
		@extend .z-depth-2;

	}
}

.card--thumb_item_title
{
	@extend .card_item_title;
	font-size:16px;
}

.card--thumb_item_body
{
	@extend .card_item_body;
}

.card--thumb_item_footer
{
	line-height:32px;
	font-size:14px;
	font-weight:600;
	color:$color-base;
	text-align:center;
	@extend .card_item_footer;

	.is-active &
	{
		background-color:$color-highlight;
		color:#fff;
		&:after
		{
			content: "Current";
		}
	}
}


.card--present
{
	@extend .z-depth-1;
	position: relative;
	width:100%;
	height:100%;
	background:#fff;
	border-radius:3px;
	

}

.card--present_header
{

}
.card--present_body
{
	overflow-y:auto;
	height:100%;
	padding-bottom:52px;
}
.card--present_footer
{
	position:absolute;
	bottom:0;
	height:52px;
	width:100%;
	border-top:1px solid #d9dde1;
	overflow-y:visible;
	background:#fff;
	@include border-bottom-radius(3px);

}