.discussion
{
	width:100%;
}

.discussion-card
{
	@extend .card;
	margin-bottom:20px;
}
.discussion-card_header
{
	@include clearfix;
	height:52px;
	padding:10px;
	
}
.discussion-card_header-utility
{
	float:right;
}

.discussion-card_body
{
	@extend .card_item_body;
}

.discussion-card-author
{
	// refactor into an icon title
	@extend .card_item_title;
	line-height:32px;
	height:32px;
	> i
	{
		float:left;
		padding-right:10px;
	} 

}
.discussion-card_footer
{
	@extend .card_item_footer
	
}

.discussion-card_footer-actions
{
	float:right;
}

