.dropdown
{

}

.menu
{
 
  @extend .list--menu
  
}







.dropdown-content {

  z-index:100; //dropdown menu's start at 100
  @extend .z-depth-1 !optional;
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 140px;
  max-height: 650px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  border-radius:3px;
  width:250px;
  white-space: nowrap; // Force one line
 
  will-change: width, height;
  
}

