// Remove input styling 
input, textarea
{
	border:none;
	outline:none;
	padding:0;
	margin:0;
	background:transparent;
}

input[type='checkbox'], input[type='radio'] 
{
	margin-right:10px;

}

textarea
{
	// overflow: auto;
	resize:none;
}
textarea.materialize-textarea {

  // General Styles
  
  overflow-y: hidden; //remvoe flashing bar
  margin-top:32px;
  height: 32px;

  width: 100%;
  margin: 0 0 0 0;
  padding: 0;
  box-shadow: none;
  @include box-sizing(content-box);
  transition: all .3s;
  }

 .hiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */
  padding-top: 30px; /* prevents text jump on Enter keypress */
}

.form-checkbox
{
	display:block;
	padding-bottom:10px;
	padding-top:10px;
	> input
	{

	}

	> label
	{
		font-size:14px;
		font-weight:400;
		color:$color-base;
		&.is-checked
		{
			color:$color-highlight;
		}
	}

}

.search-field 
{
	display:table-cell;
	border-bottom-color:$color-base-lighten2;
	border-bottom-width:1px;
	border-bottom-style:solid;
	height:32px;
	width:100%;
	line-height:32px;

	> input, > textarea
	{
		height:32px;
		vertical-align:middle;
		width:100%;
		color:$color-base-lighten1;
		
	}
}

.form-field
{	
	position:relative;
	@include transition(all 0.5s ease-in-out);
	border-bottom-color:$color-base-lighten2;
	border-bottom-width:1px;
	border-bottom-style:solid;
	box-sizing:border-box;
	display:table;
	padding:10px;
	width:100%;
	vertical-align:middle;
	line-height:32px;
	font-size:14px;
	
	
	> input
	{
		display:table-cell;
		height:32px;
		vertical-align:middle;
		width:100%;
		color:$color-base-lighten1;
		@include transition(all 0.5s ease-in-out);
		
	}

	> textarea
	{
		vertical-align:middle;
		line-height:normal;
		

	}

	> label
	{
		display:table-cell;
		width:100px;
		vertical-align:middle;
		font-size:14px;
		font-weight:400;
		color:$color-base;
		&.label-small
		{
			width:32px;
		}

		
		&.labelfocus
		{
			
			
			color:$color-highlight;
			@include transition(all 0.5s ease-in-out);

			
		}
		&.label-icon
		{
			width:50px;
			vertical-align:middle;
			color:inherit;

		}
	}
	&.is-focused
	{
		@include transition(all 0.5s ease-in-out);
		border-bottom-color:$color-highlight;
		> input, > textarea
		{
			color:$color-base;
		}
		
	}
	&.is-readonly
	{
		border-bottom:none;
		> label 
		{
			color:$color-base-lighten2;
		}
		> input
		{
			color:$color-base-lighten2;
		}		
	}

	&.has-msg 
	{
		margin-bottom:30px;
	}
	&.has-error
	{
		
		> input 
		{
			color:$color-danger;	
		}
		
		> label 
		{
			color:$color-danger;
			&.labelfocus
			{
				color:$color-danger;
			}
		}
		&.is-focused
		{
			border-bottom-color:$color-danger;	

		}
		> i 
		{
			display:table-cell;
			float:none;
			vertical-align:middle;
			height:32px;
			width:32px;
			color:$color-danger;
			text-align:center;
			
		}
	}
	&.has-success
	{
		> label 
		{
			&.labelfocus
			{
				// color:$color-success;
			}
		}
		&.is-focused
		{
			// border-bottom-color:$color-success;
		}
		> i 
		{
			display:table-cell;
			float:none;
			vertical-align:middle;
			height:32px;
			width:32px;
			color:$color-success;
			text-align:center;
		}
	}


}

.form-msg
{
	position:absolute;
	bottom:-32px;
	right:10px;
	height:32px;
	line-height:32px;
	font-size:12px;
	&.error
	{
		color:$color-danger;
	}
	&.hint
	{
		color:$color-highlight;
	}
	&.success
	{
		color:$color-success;
	}
}
