// Remove input styling 
input, textarea
{
	border:none;
	outline:none;
	padding:0;
	margin:0;
	background:transparent;
}

input[type='checkbox'], input[type='radio'] 
{
	margin-right:10px;

}

textarea
{
	// overflow: auto;
	resize:none;
}
textarea.materialize-textarea {

  // General Styles
  
  overflow-y: hidden; //remvoe flashing bar
  margin-top:15px;
  height: 32px;;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0;
  box-shadow: none;
  @include box-sizing(content-box);
  transition: all .3s;
  }

 .hiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */
  padding-top: 30px; /* prevents text jump on Enter keypress */
}

.form-checkbox
{
	display:block;
	padding-bottom:10px;
	padding-top:10px;
	> input
	{

	}

	> label
	{
		font-size:14px;
		font-weight:400;
		color:$color-base;
		&.is-checked
		{
			color:$color-highlight;
		}
	}

}

.search-field 
{
	display:table-cell;
	border-bottom-color:$color-base-lighten2;
	border-bottom-width:1px;
	border-bottom-style:solid;
	height:32px;
	width:100%;
	line-height:32px;

	> input, > textarea
	{
		height:32px;
		vertical-align:middle;
		width:100%;
		color:$color-base-lighten1;
		
	}
}

.form-field
{	
	position:relative;
	
	border-bottom-color:$color-base-lighten2;
	border-bottom-width:1px;
	border-bottom-style:solid;
	box-sizing:border-box;
	display:table;
	padding:10px;
	width:100%;
	vertical-align:middle;
	
	
	> input, > textarea
	{
		display:table-cell;
		vertical-align:middle;
		width:100%;
		color:$color-base-lighten1;
		
	}

	> textarea
	{
		vertical-align:middle;
		height:32px;

	}

	> label
	{
		display:table-cell;
		width:100px;
		
		font-size:14px;
		font-weight:400;
		color:$color-base;
		padding-right:10px;
		&.labelfocus
		{
			
			// @include transition(all 0.5s ease-in-out);
			color:$color-highlight;
			@include transition(all 0.5s ease-in-out);
		}
		&.label-icon
		{
			width:50px;
			vertical-align:middle;
			color:inherit;

		}
	}
	&.is-focused
	{
		border-bottom-color:$color-highlight;
		> input, > textarea
		{
			color:$color-base;
		}
		
	}
	&.is-readonly
	{
	
	 border-bottom:none;		
	}

}
