// Remove input styling 
input, textarea
{
	border:none;
	outline:none;
	padding:0;
	margin:0;
	background:transparent;
}

input[type='checkbox'], input[type='radio'] 
{

}

textarea
{
	// overflow: auto;
	resize:none;
}

%baseFormField
{
	width:100%;
	padding-bottom:10px;
	padding-top:10px;
	position:relative;
}

.form-checkbox
{
	display:inline-block;
	@include transition(all 0.5s ease-in-out);
	@extend %baseFormField;

	

	> label
	{
		width:100%;
		font-size:14px;
		font-weight:400;
		color:$color-base;
		padding-left:20px;
		> input
		{
			position:absolute;
			margin-left:-20px;
			margin-top:6px;

		}

	}
	> .checkbox-msg
	{
		display:block;
		padding-left:20px;
		font-size:14px;
		line-height:32px;
		color:$color-base-lighten1;
		> i 
		{
			margin-right:10px;
		}

	}
	&.has-msg
	{

	}
	&.is-checked
	{
		> label 
		{
			color:$color-highlight;	
		}
	}
	&.is-disabled
	{
		> label, > .checkbox-msg
		{
			color:$color-disabled;	
		}
	}


}






%formHasValidation
{
	> input, > textarea 
	{
		padding-right:32px;
	}

	&.is-invalid
	{
		
		> input, > textarea
		{
			color:$color-danger;	
		}
		
		> label 
		{
			color:$color-danger;

		}
		&.is-focused
		{
			border-bottom-color:$color-danger;	
			> label
			{
				color:$color-danger;
			}

		}
		> i 
		{
			position:absolute;
			right:0;
			bottom:10px;
			height:32px;
			width:32px;
			color:$color-danger;
			text-align:center;
		}
	}
	&.is-valid
	{

		&.is-focused
		{
			border-bottom-color:$color-success;
			> label 
			{
				
				color:$color-success;
				
			}
		}
		> i
		{
			position:absolute;
			right:0;
			bottom:10px;
				
			height:32px;
			width:32px;
			color:$color-success;
			text-align:center;
		}
	}

}

.form-input
{	
	@include transition(all 0.5s ease-in-out);
	position:relative;
	display:table; //clearing
	@extend %baseFormField;

	
	border-bottom-color:$color-base-lighten2;
	border-bottom-width:1px;
	border-bottom-style:solid;
	box-sizing:border-box;
	
	
	line-height:32px;
	height:32px;
	font-size:14px;
	color:$color-base-lighten1;


	> label + input 
	{
		padding-left:100px;
	}
	
	> input
	{
		@include transition(all 0.5s ease-in-out);
		height:32px;
		display:inline-block;
		width:100%;
		
		&::-webkit-input-placeholder 
		{
			color: $color-base-lighten1;
		}

		&:-moz-placeholder 
		{ 
			color: $color-base-lighten1;  
		}

		&::-moz-placeholder 
		{  
			color: $color-base-lighten1;  
		}

		&:-ms-input-placeholder 
		{  
			color: $color-base-lighten1;  
		}	
	}

	> label
	{
		position:absolute;
		display:block;
		left:0;
		top:50%;
		transform: translate(0, -50%);
		display:inline-block;
		box-sizing:border-box;
		max-width:100px;
		
		color:$color-base;
		
		&.label-small
		{
			width:32px;
		}

		&.label-icon
		{
			width:50px;
			vertical-align:middle;
			color:inherit;

		}
	}

	&.is-focused
	{
		> label 
		{
			color:$color-highlight;
			@include transition(all 0.5s ease-in-out);
		}

		@include transition(all 0.5s ease-in-out);
		border-bottom-color:$color-highlight;
		&.has-hint 
		{
			margin-bottom:30px;
		}
		
	}
	&.is-readonly
	{
		border-bottom:none;
		> label 
		{
			color:$color-base-lighten2;
		}
		> input
		{
			color:$color-base-lighten2;
		}		
	}


	&.validate 
	{
		@extend %formHasValidation;
	}

}

.form-textarea
{
	@extend .form-input;
	position:relative;
	padding-bottom:0;

	> label 
	{
		position:absolute;
		left:0;
		top:10px;
		transform: none;
		display:inline-block;
		box-sizing:border-box;
		width:100px;

		text-align:left;
		line-height:normal;

	}

	> label + textarea
	{
		padding-left:100px;
	}

	> textarea
	{
		@include transition(all 0.5s ease-in-out);
		height:32px;
		display:inline-block;
		width:100%;
		line-height:normal;
		overflow-y:none;
		color:$color-base-lighten1;
		
		&::-webkit-input-placeholder 
		{
			color: $color-base-lighten1;
		}

		&:-moz-placeholder 
		{ 
			color: $color-base-lighten1;  
		}

		&::-moz-placeholder 
		{  
			color: $color-base-lighten1;  
		}

		&:-ms-input-placeholder 
		{  
			color: $color-base-lighten1;  
		}
		
	}
	
}

.form-hint
{
	@include transition(all 0.5s ease-in-out);
	position:absolute;
	bottom:-32px;
	right:0px;
	height:32px;
	line-height:32px;
	font-size:12px;
	color:$color-highlight;
	.is-invalid &
	{
		color:$color-danger;
	}

	.is-valid &
	{
		color:$color-success;
	}
}
