// header Primary

%header--primary
{
	background:$bgcolor-primary;
	height:$header--primary-height;
	@include padding-crown($padding-default);
	z-index:5;
}


%header--primary_body
{
	float:left;
}


%header--primary_title
{
	display:block;
	font-size:18px;
	font-weight:600;
	color:$color-base-lighten2;

}

%header--primary_subtitle
{
	display:block;
	font-size:14px;
	color:#ffffff;
}

%header--primary_action
{
	float:left;


}

%header--primary_utility-bar
{
	float:right;
}

%header--primary_footer
{
	
	position:absolute; 
	bottom:0px;
	left:52px;
}


%header--primary
{
	
	.nav--tab_item
	{
		&.is-active
		{
			color:#ffffff;
		}

	}

}

%header--secondary
{
	@extend %baseLayout_header;
	background:#ffffff;
	
	@include padding-crown($padding-default);
	z-index:2;
	height:$preview-header-height;
	border-bottom:1px solid #d9dde1;


	&_body 
	{
		@extend %header--primary_body;
		display:block;
		width:100%;
		padding-left:32px;
		padding-top:20px;
		
	}
	
	&_action {
		@extend %header--primary_action;
	}

	&_title
	{
		@extend %header--primary_title;
		color:$color-base;

	}
	&_subtitle
	{
		@extend %header--primary_subtitle;
		font-size:14px;
		color:$color-base-lighten2;
		font-weight:400;
	}
	&_utility-bar
	{
		@extend %header--primary_utility-bar;
	}
	&_footer
	{
		@extend %header--primary_footer;
	}

	&_cta
	{
		position:absolute;
		bottom:10px;
		right:10px;
	}

}

