/* --------->>> Layout: List -----------*/
// ****! needs to be refactored ! ****//
%baseCell
{
	// new way of creating base placeholders must refactor other modules
	// and creating name spacing
	//
	// children class must contain part of parents name to avoid specifity conflicts 
	// Dont' fuck around
	padding:10px;
	display:table-cell;
	vertical-align:middle;

	&.small 
	{
		width:32px;
		text-align:center;
	}
	
	&.is-first
	{
		padding-left:20px;
	}
	> .cell-primary 
	{
		font-size:14px;
		font-weight:600;
		color:$color-base;
	}
	> .cell-secondary 
	{
		font-size:12px;
		color:$color-base-lighten1;
		font-weight:400;
	}
	> .cell-label 
	{
	font-size:12px;
	font-weight:400;
	text-transform:uppercase;
	color:$color-base-lighten2;		
	}

}


%baseList
{
	@extend %clearListStyle;
	width:100%;
	> li 
	{
		width:100%;
	}
}

%baseListItem
{
	cursor:pointer;
 	position:relative;
	height:64px;
	border-bottom:1px solid #d9dde1;
	width:100%;
}

//List 
.list
{
  @extend %baseList;
}


.list-sub
{ 

	> li > .list_item 
	{
		
		padding-left:40px;
	}
}

.list_item
 {
 	@extend %baseListItem;
 	display:table;

	
	&_activity-info
	{
		position:absolute;
		top:5px;
		right:10px;
		font-size:12px;
		color:$color-base-lighten2;
		font-weight:400;
		white-space: nowrap;
		text-align:right;

	}

	&_cell
	{
		@extend %baseCell;
	}
	


	&.is-hovered
	{
		@include transition (all 0.2s ease-in-out);
		background:$bgcolor-base;
		cursor: pointer;
		
	}

	&.is-active
	{
		@include transition (all 0.2s ease-in-out);
		background:#fff;
		cursor: pointer;
		border-left:3px solid $color-highlight;
	}


}


// Table list

.table--list
{
	
	display:table;
	border-collapse: collapse;
	box-sizing: border-box;
	width:100%;
}

.table--list_item
{
	@extend %baseListItem;
	display:table-row;

	&_cell
	{
		@extend %baseCell;
	}
}


.list-row
{
	
}







/* --->>> List item ---*/




// Sub Module List-item Folder


// Modifier Cozy Layout
.list
{
	&.is-cozy
	{
		> li > .list_item
		{
			height:80px;
		}
	}
	

}



.list--menu
{
	@extend %baseList;
	> li 
	{
		height:52px;
		padding: 
		{
			top:10px;
			bottom:10px;
		}
	  }
	> li > a, > li > button
	{
		display:block;
		width:100%;
		text-align:left;
		color:$color-base-lighten1;
	}
	> .is-selected
	{
		background:$bgcolor-base-darken1;
	}
	> .is-hovered
	{
		background:$bgcolor-base-lighten1;
	}
}



.list--folders
{
	@extend .list--menu;
	
	background:$bgcolor-base-darken1;
	
	border-radius:5px;
	padding:10px;

	&_item-breadcrumb
	{
		background:$bgcolor-base-darken1;
	}

	&_item 
	{
		background:#ffffff;
		margin-top:5px;
		border-bottom:
		{
			width:1px;
			style:solid;
			color:$bgcolor-base-darken1;
		}
	}
	&_item-placeholder
	{
		margin-top:5px;
		border:
			{
				radius:3px;
				width:1px;
				style:dashed;
				color:$color-primary;
			}
		
	}
}








