/* --------->>> Layout: List -----------*/
// ****! needs to be refactored ! ****//
.list
{
	
	list-style-type:none;
	padding:0;
	margin:0;
	
}

.list--sub
{ 

	> li > .list_item 
	{
		
		padding-left:40px;
	}
}

.list-row
{
	
}

%list_item_column-base
{
	> div, > span
		{
			vertical-align:middle;
		}
		display:table-cell;
		vertical-align:middle;	
}

/* --->>> List item ---*/

.list_item
 {
 	position:relative;
	display:table;
	height:64px;
	border-bottom:1px solid #d9dde1;
	padding:10px;
	width:100%;

	&_title
	{
		font-size:14px;
		font-weight:600;
		color:$text-med-grey;
	}
	&_sub-title
	{
		font-size:12px;
		color:$text-smed-grey;
		font-weight:400;

	}
	&_activity-info
	{
		position:absolute;
		top:5px;
		right:10px;
		font-size:12px;
		color:$light-grey;
		font-weight:400;
		white-space: nowrap;
		text-align:right;

	}

	&_column
	{
		@extend %list_item_column-base;
	}
	&_column-checkbox
	{
		@extend %list_item_column-base;
		width:40px;
		> input
		{
			display:block;
			margin-left:auto;
			margin-right:auto;
			width:20px;
		}

	}

	&_column-icon
	{
		@extend %list_item_column-base;
		width:40px;
		> i 
		{
			color:$text-light-grey;

			font-size:24px;
		}

	}
	&_column-info
	{
		
		@extend %list_item_column-base;
		
	}



	&.is-hovered
	{
		@include transition (all 0.2s ease-in-out);
		background:$bg-light-grey;
		cursor: pointer;
		
	}

	&.is-active
	{
		@include transition (all 0.2s ease-in-out);
		background:#fff;
		cursor: pointer;
		border-left:3px solid $highlight;
	}


}

// Sub Module List-item Folder

.list_item--folder
{
	cursor:pointer;

	> .list_item_column-icon > i
	{
		color:$text-med-grey;
	}

	&_column-expandable
	{
		@extend %list_item_column-base;
		width:40px;
	}
}

// Modifier Cozy Layout
.list
{
	&.is-cozy
	{
		> li > .list_item
		{
			height:80px;
		}
	}
	

}











.list--folders
{
	@extend .list;
	width:100%;
	background:#ffffff;
	border:5px solid $bg-light-grey;
	border-radius:5px;
}

// refactor this crap


.list--folders_item
{
	
	height:52px;
	line-height:32px;
	padding:10px;
	display:block;
	width:100%;
	border-bottom:1px solid $bg-light-grey;
	> a > i
	{

		line-height:32px;
		font-size:24px;
		float:left;
		padding-right:10px;
		color:$text-smed-grey;
	}
	> button, > a 
	{
		display:block;
		width:100%;
		text-align:left;
		color:$text-smed-grey;
	}

	&.insert-here 
	{
		background:$bg-light-grey;
		border-radius:3px;
		border:1px dashed $text-smed-grey;
		> a
		{
			text-align:center;
		}

	}

}



.list--folders_breadcrumb
{
	background:$bg-light-grey;
}


