/* --------->>> Layout: List -----------*/
// ****! needs to be refactored ! ****//

%baseTable 
{
	display:table;
	border-collapse: collapse;
	box-sizing: border-box;
	width:100%;
}

%baseRow
{
	display:table-row;
}

%baseCell
{
	// new way of creating base placeholders must refactor other modules
	// and creating name spacing
	//
	// children class must contain part of parents name to avoid specifity conflicts 
	// Dont' fuck around
	padding:10px;
	display:table-cell;
	vertical-align:middle;
	&.small 
	{
		width:32px;
		text-align:center;
	}
	&.medium
	{
		width:120px;
		text-align:center;
	}


}
// refactor this into a mixin

%baseCell_listModifiers
{

	
	&.is-first
	{
		padding-left:20px;
	}
	> .cell-primary 
	{
		font-size:14px;
		font-weight:600;
		color:$color-base;
	}
	> .cell-secondary 
	{
		font-size:12px;
		color:$color-base-lighten1;
		font-weight:400;
	}
	> .cell-label 
	{
		font-size:12px;
		font-weight:400;
		text-transform:uppercase;
		color:$color-base-lighten2;		
	}
}


%baseCell_qAnswerModifiers
{
	&.cellq-label
	{
		font-size:14px;
		border-right:1px solid $bgcolor-base;
	}
}







//List 
.list
{
  	@extend %clearListStyle;
	width:100%;
	> li 
	{
		width:100%;
	}
}


.list-sub
{ 

	> li > .list_item 
	{
		
		padding-left:40px;
	}
}

.list_item
 {
 	cursor:pointer;
 	position:relative;
	height:64px;
	border-bottom:1px solid #d9dde1;
	width:100%;
 	display:table;
	

	
	&_activity-info
	{
		position:absolute;
		top:5px;
		right:10px;
		font-size:12px;
		color:$color-base-lighten2;
		font-weight:400;
		white-space: nowrap;
		text-align:right;

	}

	&_cell
	{
		@extend %baseCell;
		@extend %baseCell_listModifiers;
	}
	


	&.is-hovered
	{
		@include transition (all 0.2s ease-in-out);
		background:$bgcolor-base;
		cursor: pointer;
		
	}

	&.is-active
	{
		@include transition (all 0.2s ease-in-out);
		background:#fff;
		cursor: pointer;
		border-left:3px solid $color-highlight;
	}


}


// Table list


.table--list
{
	
	@extend %baseTable;
}

.table--list_item
{
	@extend .list_item;
	display:table-row;

	&_cell
	{
		@extend %baseCell;
		@extend %baseCell_listModifiers;
	}
}















// Sub Module List-item Folder


// Modifier Cozy Layout
.list
{
	&.is-cozy
	{
		> li > .list_item
		{
			height:80px;
		}
	}
	

}










