/* --------->>> Navigation: Basic ---------*/



%baseNav--tab
{
	> li 
	{
		float:left;
		display:block;
		
	}
	
}




%baseNav--tab_item
{
	padding-left:10px;
	padding-right:10px;
	
	margin-right:10px;
	padding-bottom:10px;
	height:32px;

}



.nav
{
	@extend %clearListstyle;
}



/* --------->>> Navigation: tab ---------*/

.nav--tab
{
	> li 
	{
		float:left;
		
	}
	padding-top:20px;
	height:52px;
	
}


.nav--tab_item
{
	@extend %baseNav--tab_item;
	text-transform:uppercase;
	
	&.is-last
	{
		margin-right:0px;
	}
	&.is-active
	{
		color: #ffffff;
		border-bottom:2px solid #ffffff;	
	}

}

.nav--tab.on-light
{
	.nav--tab_item
	{
		 &.is-active
		{
			color: $highlight;
			border-bottom:2px solid $highlight;	
		
		}
	}
}

.nav--tab-card
{
	@extend %baseNav--tab;
	margin-top:5px;
	position:relative;

}

a.nav--tab-card_item
{
	
	background:transparent;

	height:52px;
	padding:10px;
	color:$text-smed-grey;
	display:block;
	line-height:32px;
	padding-left:20px;
	padding-right:20px;
	
	&.is-first
	{

	}
	&.is-last
	{
		margin-right:0px;
	}
	&.is-active
	{
		background:#fff;
		color:$highlight;
		@extend .z-depth-1;
		border-radius:5px;
			
	}

}

.nav--tab-pill
{
	@extend %baseNav--tab;
}

a.nav--tab-pill_item
{
	
	background:transparent;
	height:32px;
	min-width:120px;
	color:$primary-blue;
	display:block;
	line-height:32px;
	border-top:1px solid $primary-blue;
	border-bottom:1px solid $primary-blue;
	border-right:1px solid $primary-blue;
	
	text-align:center;

	
	&.is-first
	{
		border-left:1px solid $primary-blue;
		border-top-left-radius:5px;
		border-bottom-left-radius:5px;


	}
	&.is-last
	{
		margin-right:0px;
		border-right:1px solid $primary-blue;

		
		border-top-right-radius:5px;
		border-bottom-right-radius:5px;
	}
	&.is-active
	{
		color:#fff;
		background:$primary-blue;
	}

}


