/* --------->>> Navigation: Basic ---------*/



%baseNav--tab
{
	> li 
	{
		float:left;
		display:block;
		
	}
	
}




%baseNav--tab_item
{
	padding-left:10px;
	padding-right:10px;
	margin-right:10px;
	padding-bottom:10px;
	height:32px;
}



.nav
{
	@extend %clearListStyle;
}



/* --------->>> Navigation: tab ---------*/

.nav--tab
{
	> li 
	{
		float:left;
		
	}
	padding-top:20px;
	height:52px;
	
}


.nav--tab_item
{
	@extend %baseNav--tab_item;
	text-transform:uppercase;
	
	&.is-last
	{
		margin-right:0px;
	}
	&.is-active
	{
		color: #ffffff;
		border-bottom:2px solid #ffffff;	
	}

}

.nav--tab.on-light
{
	.nav--tab_item
	{
		 &.is-active
		{
			color: $color-highlight;
			border-bottom:2px solid $color-highlight;	
		
		}
	}
}

.nav--tab-card
{
	@extend %baseNav--tab;
	margin-top:5px;
	position:relative;

}

a.nav--tab-card_item
{
	
	background:transparent;

	height:52px;
	padding:10px;
	color:$color-base-lighten1;
	display:block;
	line-height:32px;
	padding-left:20px;
	padding-right:20px;
	
	&.is-first
	{

	}
	&.is-last
	{
		margin-right:0px;
	}
	&.is-active
	{
		background:#fff;
		color:$color-highlight;
		@extend .z-depth-1;
		border-radius:5px;
			
	}

}

.nav--tab-pill
{
	@extend %baseNav--tab;
}

a.nav--tab-pill_item
{
	
	background:transparent;
	height:32px;
	min-width:120px;
	color:$color-primary;
	display:block;
	line-height:32px;
	border-top:1px solid $color-primary;
	border-bottom:1px solid $color-primary;
	border-right:1px solid $color-primary;
	
	text-align:center;

	
	&.is-first
	{
		border-left:1px solid $color-primary;
		border-top-left-radius:5px;
		border-bottom-left-radius:5px;


	}
	&.is-last
	{
		margin-right:0px;
		border-right:1px solid $color-primary;

		
		border-top-right-radius:5px;
		border-bottom-right-radius:5px;
	}
	&.is-active
	{
		color:#fff;
		background:$color-primary;
	}

}

//menus


.menu
{
	@extend .list;
	> li 
	{
		height:52px;
		padding:10px; 
		
	  }
	> li > a, > li > button
	{
		display:block;
		width:100%;
		text-align:left;
		color:$color-base-lighten1;
	}
	> li > a
	{
		&:hover
		{
			color:$color-base-lighten1;
		}
	}
	> .is-selected > a
	{
		color:$color-primary;
	}
	> .is-hovered
	{
		background-color:$bgcolor-base;
		
	}
}



.menu--folders
{
	@extend .menu;
	
	background:$bgcolor-base-darken1;
	
	border-radius:5px;
	padding:10px;

	&_item-breadcrumb
	{
		background:$bgcolor-base-darken1;
	}

	&_item 
	{
		background:#ffffff;
		margin-top:5px;
		margin-left:10px;
		margin-right:10px;
		border-bottom:
		{
			width:1px;
			style:solid;
			color:$bgcolor-base-darken1;
		}
	}
	&_item-placeholder
	{
		margin-top:5px;
		border:
			{
				radius:3px;
				width:1px;
				style:dashed;
				color:$color-primary;
			}
		
		
	}
}


