/* --------->>> Module: Question  Answer-----------*/

%column
{
	display:table-cell;
	vertical-align:middle;
	padding:10px;

}

%table
{
	width:100%;
	position:relative;
	display:table;	
}

.q_description
{
	font-size:18px;
}

.q-answer_instruction
{
	width:100%;
	
}


.q-answer_item
{
	@extend %table;
	height:60px;
	background:#ffffff;
	border:5px solid $bgcolor-base;
	border-radius:5px;
	margin-bottom:10px;
}

.q-answer_item-control
{
	@extend %column;
	width:40px;
	> i 
	{
		color:$color-base-lighten2;

		font-size:24px;
	}
}

.q-answer_item-label
{
	@extend %column;
	
	width:40px;
	color:$color-highlight;
	text-align:center;
	font-size:1em;
	border-right:1px solid $bgcolor-base;

	&.size-large
	{
		width:120px;
	}
}

.q-answer_item-matching-option
{
	@extend %column;
	position:relative;
	border-left:5px solid $bgcolor-base;
	padding:0;
	min-width:50%;
}

.q-answer_item-description
{
	@extend %column;
	font-size:1rem;
	
}

.q-answer_item-correct
{
	@extend %column;
	width:160px;
	white-space: nowrap;
	
}


.q-answer_item-input
{
	@extend %column;


}

