/* --------->>> Module: Question  Answer-----------*/


.q_description
{
	font-size:18px;
}

.q-answer_instruction
{
	width:100%;
	
}

.q-answer 
{
	

	

}

.q-answer_item
{
	@extend %baseTable;
	border-collapse: separate;
	height:60px;
	background:#ffffff;
	border:5px solid $bgcolor-base;
	border-radius:5px;
	margin-bottom:10px;

	&_cell
	{
		@extend %baseCell;

	}


}



.q-answer_item_cell-control
{
	@extend %baseCell;
	width:40px;
	> i 
	{
		color:$color-base-lighten2;

	}
}

.q-answer_item_cell-label
{
	@extend %baseCell;
	width:40px;
	text-align:center;
	color:$color-highlight;
	font-size:14px;
	border-right:1px solid $bgcolor-base;

	&.size-large
	{
		width:120px;
	}
}



.q-answer_item_cell-description
{
	@extend %baseCell;
	font-size:14px;;
	
}

.q-answer_item_cell-correct
{
	@extend %baseCell;
	width:160px;
	white-space: nowrap;
	
}


.q-answer_item_cell-input
{
	@extend %baseCell;


}

// Matching sub module 

.q-answer--matching
{
	@extend %baseTable;
	margin-bottom:20px;
}
.q-answer--matching_item
{
	@extend .q-answer_item;
	display:table-row;
}

.q-answer_item_cell-matching-option
{
	@extend %baseCell;
	position:relative;
	border-left:5px solid $bgcolor-base;
	padding:0;
	min-width:50%;
}




